body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: #fcfffa;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid#1D3557;
  padding: 10px;
}

.jumbotron {
  background-image: url(./lighthouse.jpg);
  background-size: 200%;
  background-position-y: 79%;
  background-position-x: 100%;
  text-align: center;
  background-color: transparent;
  color: #1D3557;
  border-radius: 0;
  border-bottom: 10px solid #1D3557;
}

.display-3 {
  font-weight: 900;
}

#currentDay {
  font-weight: 900;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid #1D3557;;
}

.hour {
  background-color:  #fcfffa;
  color: #1D3557;
  }

.past {
  background-color: #F1FAEE;
  color: white;
}

.present {
  background-color: #E63946;
  color: white;
}

.future {
  background-color: #A8DADC;
  color: white;
}

.saveBtn {
  border-left: 1px solid #1D3557;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #457B9D;
  color: white;
  font-size: 25px;
  
}

.saveBtn i:hover {
  color: #F1FAEE;
  font-size: 30px;
  transition: all .3s ease-in-out;
}

.btn:hover {
  color:#A8DADC;
}
